<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortner</title>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <a class="logo" href="#"><span>URL</span> Shortner</a>
    </div>
  </div>

  <section class="hero">
    <div class="container">
      <div class="left-col">
        <p class="subhead">Trim URL here.</p>
        <h1>URL Shortner</h1>




<!-- ------------here----------------- -->
<div class="business-logic">
  <form class="example-form" [formGroup]="shortMyUrl" (ngSubmit)="shortUrl()">
  
    <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Enter Your URL Here." type="text" name="text" formControlName="longUrl">
    </mat-form-field>
    <br>
    <button class="button-cls" mat-raised-button color="primary" class="btn-block">Short My URL</button>
  </form>
  
  <div *ngIf="showMe" class="display-url">
    <h3>Your Short URL:</h3>
    <a class="shortUrl" href="{{newShortUrl}}">{{newShortUrl}} </a>    
  </div>

</div>
  <!-- ------------here----------------- -->
  
  
  
  
  
  
      </div>
    </div>
  </section>

</body>
</html>
<!-- ////////////////////////////////////////////////////////////////////////// -->
        <!-- <main>
    <mat-card>
    <h1>URL Shortener</h1>
      <form class="example-form" [formGroup]="shortMyUrl" (ngSubmit)="shortUrl()">
  
      <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Enter Your URL Here." type="text" name="text" formControlName="longUrl">
    </mat-form-field>
    <hr>
    <button mat-raised-button color="primary" class="btn-block">Short My URL</button>
      </form>
  
        <h3>Your Short URL:</h3>
        <a class="shortUrl" href="{{newShortUrl}}">{{newShortUrl}}       
        </a>
    </mat-card>
  </main> -->


